{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}

    <!-- SECTIONS -->
    <span class="hidden" id="current-section-1">{% block currentSection1 %}{% endblock %}</span>
    <span class="hidden" id="current-section-2">{% block currentSection2 %}{% endblock %}</span>
    <span class="hidden" id="current-section-3">{% block currentSection3 %}{% endblock %}</span>

    <!-- NAVBAR -->
    {% include '_navbar.html.twig' %}

    <!-- FLASH MESSAGES -->
    {% if app.session.flashbag.get('notice')|length() > 0 or app.session.flashbag.get('notice')|length() > 0 %}
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">

                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="app-flash-notice alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="app-flash-notice alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}

    <!-- CONTENT -->
    {% block content %}{% endblock %}

    <style>
        div#spinner {
            display: none;
            width: 290px;
            height: 50px;
            position: fixed;
            top: 50%;
            left: 45%;
            text-align: center;
            padding: 10px;
            font-size: 24px;
            border: 1px solid #CCCCCC;
            border-radius: 80px;
            margin-left: -50px;
            margin-top: -50px;
            z-index: 9999;
            overflow: hidden;
            background-color: rgba(250, 250, 250, 0.5);
        }
    </style>

    <div id="spinner">
        <i class="fa fa-circle-o-notch fa-spin text-success"></i> Please Wait
    </div>

    <div class="hidden" id="darken"
         style="left: 0px; top: 0px; z-index: 9998;
         font-family: Verdana;
         font-size: 12px;
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: rgba(128, 128, 128, 0.5);">
    </div>

{% endblock %}
