<div class="app-detail col-lg-7 col-md-7">

    <span class="app-mail-title">AW: Berlin</span>

    <span class="app-mail-date">3 days ago, 08:28am</span>

    <table class="app-mail-info">
        <tr>
            <td class="app-mail-from">From:</td>
            <td class="app-mail-from">Hartmut Kampe</td>
        </tr>
        <tr>
            <td class="app-mail-cc">CC:</td>
            <td class="app-mail-cc">Tristan Wheeler</td>
        </tr>
        <tr>
            <td class="app-mail-cc">BCC:</td>
            <td class="app-mail-cc">Robin Weber</td>
        </tr>
    </table>

    <div class="app-divider"></div>

    <div class="app-mail-text">
Hallo Florian,<br>
Natürlich ist deine eMail angekommen, ich habe nur einiges um die Ohren da unser wichtigstes Projekt kurz vor go live ist. Eigentlich hätte ich diese Woche Urlaub gehabt und ich weiß noch nicht, ob ich diesen in der nächsten Woche nehmen kann (deswegen habe ich auch noch nicht geantwortet). Wird sich am Sonntag entscheiden und dann melde ich mich.
Gruss auch an Astrid,<br>
Hartmut<br>
<br>
Gesendet von meinem BlackBerry 10-Smartphone.<br>
Von: Florian Weber<br>
Gesendet: Donnerstag, 8. Oktober 2015 07:53<br>
An: Hartmut Kampe<br>
Betreff: Fwd: Berlin<br>
<br>
Hallo Hartmut,<br>
<br>
leider scheint dich meine Mail nicht erreicht zu haben,<br>
deshalb schicke ich sie einfach nochmal ;)<br>
Mit freundlichen Grüßen,<br>
Florian Weber<br>
----------------------------------------<br>
http://fweber.info<br>
<br>
Anfang der weitergeleiteten E-Mail:<br>
<br>
Von: Florian Weber<br>
Datum: 09. September 2015 um 10:58:52<br>
An: hartmut.kampe@gmx.de<br>
Betreff: Berlin<br>
<br>
Hallo Hartmut,<br>
<br>
ich bin am 14.10. ab 15:15 in Berlin, Hotel Lützow.<br>
Am folgenden Tag ist vermutlich Abendprogramm der Konferenz und<br>
am 3. Tag reise ich Abends schon ab.<br>
<br>
Am 14. bin ich sozusagen frei und auf der Suche nach etwas Berliner Leben ;)<br>
Mit freundlichen Grüßen,<br>
Florian Weber<br>
----------------------------------------<br>
http://fweber.info<br>
    </div>

</div>
