{% if elements|length() > 0 %}

<ul>
    {% for message in elements %}
        <li>
            <span class="app-mail-date pull-right">{{ message.date|date('d.m.Y') }}</span>
            <div>
                {% if message.unread %}
                    <i class="app-font-info fa fa-circle"></i>
                {% elseif message.starred %}
                    <i class="app-font-warning fa fa-circle"></i>
                {% else %}
                    <i class="app-font-info fa fa-circle-o"></i>
                {% endif %}

                <span class="app-mail-from">{{ message.from[0].name|default(message.from[0].email)|truncate(25) }}</span>
            </div>
            <div>
                <span class="app-mail-title">{{ message.subject|truncate(30) }}</span>
            </div>
            <div>
                <p class="app-mail-text">
                    {{ message.snippet|truncate(40) }}
                </p>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}

    <div class="app-no-mail">
        <i class="fa fa-envelope-o"></i>
        <br>
        No Messages found!
    </div>

{% endif %}
