<div class="app-elements col-lg-3 col-md-3">

    <ul>
        <li>
            <span class="app-mail-date pull-right">09.10.2015</span>
            <div>
                <i class="app-font-info fa fa-circle"></i>
                <span class="app-mail-from">Hartmut Kampe</span>
            </div>
            <div>
                <span class="app-mail-title">AW: Berlin</span>
            </div>
            <div>
                <p class="app-mail-text">
                    Lorem ipsum dolor sit ame...
                </p>
            </div>
        </li>
        <li>
            <span class="app-mail-date pull-right">08.10.2015</span>
            <div>
                <i class="app-font-transp fa fa-circle"></i>
                <span class="app-mail-from">info@weber-elektronik.de</span>
            </div>
            <div>
                <span class="app-mail-title">Re: AW: InFocus RealCam INF-SPTZ-2</span>
            </div>
            <div>
                <p class="app-mail-text">
                    Lorem ipsum dolor sit ame...
                </p>
            </div>
        </li>
    </ul>

</div>
