{% extends 'layout.html.twig' %}

{% block currentSection1 %}mail{% endblock %}

{% block content %}

<div class="app">
    <div class="app-container container-fluid">

        {{ render(controller('AppBundle:Mail:sidebar')) }}

        <div class="app-elements col-lg-3 col-md-3">

            {% block elements %}{% endblock %}

        </div>

        {% include 'Mail/_detail.html.twig' %}

    </div>
</div>

{% endblock %}
