{% extends 'layout.html.twig' %}

{% block content %}

<div class="app">
    <div class="app-container container-fluid">

        {{ render(controller('AppBundle:Mail:sidebar')) }}

        {% include 'Mail/_elements.html.twig' %}

        {% include 'Mail/_detail.html.twig' %}

    </div>
</div>

{% endblock %}
