body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.app-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.app-font-success {
    color: #2ECC71;
}

.app-font-danger {
    color: #D91E18;
}

.app-font-warning {
    color: #F7CA18;
}

.app-font-info {
    color: #59ABE3;
}

.app-font-primary {
    color: #59ABE3;
}

.app-font-transp {
    color: transparent;
}

/*
 * APP SIDEBAR
 */

.app-sidebar {
    background-color: #F2F1EF;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-sidebar .app-label {
    font-size: 12px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
}

.app-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-sidebar ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
}

.app-sidebar ul > li.app-active {
    background-color: #BDC3C7;
}

.app-sidebar ul > li:hover {
    background-color: #BDC3C7;
    cursor: pointer;
}

.app-sidebar .app-section {
    padding-top: 19px;
    padding-bottom: 19px;
}

.app-sidebar .app-badge {
    background-color: #4183D7;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
}

.app-sidebar .app-divider {
    border-top: 1px solid #D2D7D3;
}

.app-sidebar .app-link-box {
    /*padding-left: 12px;*/
    /*padding-top: 12px;*/
}

/*
 * APP ELEMENTS
 */

.app-elements {
    background-color: #FFFFFF;
    padding: 0;
    border-right: 1px solid #EEEEEE;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-elements .app-no-mail {
    text-align: center;
    font-size: 18px;
    color: #AAAAAA;
    padding-top: 19px;
}

.app-elements .app-no-mail i {
    font-size: 35px;
}

.app-elements ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.app-elements ul > li {
    border-bottom: 1px solid #EEEEEE;
    padding-left: 12px;
    padding-top: 9px;
    padding-right: 12px;
}

.app-elements ul > li:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.app-elements .app-mail-title {
    font-weight: 600;
    margin-left: 25px;
}

.app-elements .app-mail-from {
    font-weight: 600;
    margin-left: 7px;
}

.app-elements .app-mail-text {
    margin-left: 25px;
}

.app-elements .app-mail-date {
    font-size: 12px;
    color: #888888;
}

/*
 * APP DETAIL
 */

.app-detail {
    background-color: #FFFFFF;
    padding-left: 12px;
    padding-top: 9px;
    padding-right: 12px;
    padding-bottom: 9px;
    overflow-x: auto;
    overflow-y: auto;
}

.app-detail .app-mail-title {
    font-weight: 600;
    font-size: 29px;
    display: block;
}

.app-detail .app-mail-from {
    font-weight: 600;
}

.app-detail .app-mail-date {
    font-size: 16px;
    color: #888888;
}

.app-detail .app-mail-info {
    margin-top: 12px;
}

.app-detail .app-mail-info td {
    padding-right: 12px;
}

.app-detail .app-divider {
    border-top: 1px solid #D2D7D3;
    margin-top: 12px;
    margin-bottom: 12px;
}

/*
 * ACCOUNTS
 */

.app-account {
    background-color: #EEEEEE;
    padding: 8px;
    margin-bottom: 8px;
}

.app-account table {
    margin-bottom: 8px;
}

.app-account table td {
    padding-right: 12px;
}

/*
 * NAVBAR
 */

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #59ABE3;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #E4F1FE;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E4F1FE;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #E4F1FE;
}
