body {
    font-family: 'Open Sans', sans-serif;
}

/*
 * NAVBAR
 */

.navbar-default {
    background-color: #59ABE3;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #E4F1FE;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E4F1FE;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #E4F1FE;
}
